body{
    background-color: black;
    
}
p{
    font-size: 1.1rem;
}
h2{
    font-size: 2.1rem;
}
.main{
    position: absolute;
    top: 0px;
    left: 33%;
    height: 460px;
    width: 440px;
    background-color: #1a212b;
    color: white;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    padding-top: 40px;
    border-radius: 20px;
    line-height: 1.9;
    word-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: -1;
    margin-right: 3%;
}

.num{
    height: 55px;
    width: 55px;
    background-color: #313b4a;
    border-radius: 100%;
    text-align: center;
    margin: 7px;
    font-weight: bold;
    color: aliceblue;
    border-color: #313b4a;
}
.visble{
    visibility: hidden;
}

.rating-num{
    text-align: center;
    margin-top: 15px;
}
.start-img-div{
    background-color: #313b4a;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.star-icon{
    height: 22px;
    margin-top: 17px;
}

.submit{
    margin-top: 25px;
    background-color: #cc6b0f;
    color: white;
    width: 100%;
    border-radius: 30px;
}
.submit:hover{
    background-color: #e18127;
    color: rgb(219, 211, 211);
}


.visited{
    background-color: #c0923c;
}

/* Thank Page */

.thank-page{
    position: absolute;
    top: 0px;
    left: 33%;
    height: 460px;
    width: 440px;
    background-color: #1a212b;
    color: white;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    padding-top: 40px;
    border-radius: 20px;
    line-height: 1.9;
    word-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: -1;
    visibility: hidden;
}

.thank-img{
    height: 160px;
    width: 220px;
    margin-left: 65px;
}

.thank-you{
    margin: 20px;
    text-align: center;
}
.appreciation{
    color: rgb(158, 159, 160);
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
}

.zIndex{
    z-index: 1;
    visibility: visible;
}

.blank{
    height: 1000px;
    width: 100px;
    z-index: 2;
    position: absolute;
    top: 0;
}
